{% extends "base.html.twig" %}

{% block container %}

    <section class="cgv container">

        <h1 class="text-center">L'animalerie | {{ title }}</h1>

        <h3>I. CONDITIONS GÉNÉRALES D’UTILISATION</h3>

        <div class="">
            <h4>1. Champ d’application</h4>
            <p>Les présentes conditions générales d’utilisation (ci-après les “CGU“) s’appliquent à toute visite ou utilisation de la Plateforme et de ses informations par un internaute (ci-après “Utilisateur“).</p>
            <p>En visitant ou utilisant la Plateforme, l’Utilisateur reconnait avoir pris connaissance des présentes CGU et accepte expressément les droits et obligations qui y sont mentionnés.</p>
            <p>Il peut exceptionnellement être dérogé aux dispositions des CGU par un accord écrit. Ces dérogations peuvent consister en la modification, l’ajout ou la suppression des clauses auxquelles elles se rapportent et n’ont aucune incidence sur l’application des autres dispositions des CGU.</p>
            <p>Nous nous réservons le droit de modifier nos CGU à tout moment, sans notification préalable, mais nous nous engageons à appliquer les dispositions qui étaient en vigueur au moment où vous avez utilisé notre Plateforme.</p>
        </div>

        <div class="">
            <h4>2. Plateforme</h4>
            <h4>a. Accès et navigation</h4>
            <p>L’accès à la Plateforme et son utilisation sont réservés aux personnes âgées au minimum de 18 ans. Chaque Utilisateur déclare sur l’honneur avoir l’âge requis. Nous nous réservons le droit de demander une justification de l’âge de l’Utilisateur, et ce par tout moyen.</p>
            <p>Nous prenons toutes les mesures raisonnables et nécessaires pour assurer le bon fonctionnement, la sécurité et l’accessibilité de notre Plateforme. Toutefois, nous ne pouvons pas offrir de garantie d’opérabilité absolue et il faut dès lors considérer nos actions comme étant couvertes par une obligation de moyen.</p>
            <p>Toute utilisation de la Plateforme se fait toujours aux propres risques de l’Utilisateur. Ainsi, nous ne sommes pas responsables des dommages pouvant résulter de possibles dysfonctionnements, interruptions, défauts ou encore d’éléments nuisibles présents sur la Plateforme.</p>
            <p>Nous nous réservons le droit de restreindre l’accès à la Plateforme ou d’interrompre son fonctionnement à tout moment, sans obligation de notification préalable.</p>

            <h4>b. Contenu</h4>
            <p>Natura Verdea S.R.L détermine en grande partie le contenu de la Plateforme et prend grand soin des informations présentes sur celle-ci. Nous prenons toutes les mesures possibles pour maintenir notre Plateforme aussi complète, précise et à jour que possible, même lorsque les informations présentes sur celle-ci sont fournies par des tiers. Nous nous réservons le droit de modifier, compléter ou supprimer à tout moment la Plateforme et son contenu, sans que sa responsabilité ne puisse être engagée.</p>
            <p>Natura Verdea S.R.L ne peut pas offrir de garantie absolue concernant la qualité de l’information présente sur la Plateforme. Il est donc possible que cette information ne soit pas toujours complète, exacte, suffisamment précise ou à jour. Par conséquent, Natura Verdea S.R.L ne pourra pas être tenue responsable des dommages, directs ou indirects, que l’Utilisateur subirait de par l’information présente sur la Plateforme.</p>
            <p>Si certains contenus de la Plateforme sont en violation avec la loi ou les droits des tiers, ou sont contraires à la morale, nous vous demandons de nous en informer le plus rapidement possible par mail afin que nous puissions prendre des mesures appropriées.</p>
            <p>Tout téléchargement à partir de la Plateforme a toujours lieu aux risques de l’Utilisateur. Natura Verdea S.R.L ne pourra pas être tenue responsable des éventuels dommages, directs ou indirects, découlant de ces téléchargements, tels qu’une perte de données ou un endommagement du système informatique de l’Utilisateur, qui relèvent entièrement et exclusivement de la responsabilité de ce dernier.</p>

            <h4>c. Services réservés aux Utilisateurs inscrits</h4>
            <p>1) Inscription</p>
            <p>L’accès à certains services est conditionné par l’inscription de l’Utilisateur.</p>
            <p>L’inscription et l’accès aux services de la Plateforme sont réservés exclusivement aux personnes physiques majeures et capables juridiquement, ayant rempli et validé le formulaire d’inscription disponible en ligne sur la Plateforme ainsi que les présentes CGU.</p>
            <p>Lors de son inscription, l’Utilisateur s’engage à fournir des informations exactes, sincères et à jour sur sa personne et son état civil. L’Utilisateur devra en outre procéder à une vérification régulière des données le concernant afin d’en conserver l’exactitude.</p>
            <p>L’Utilisateur doit ainsi fournir impérativement une adresse e-mail valide, sur laquelle la Plateforme lui adressera une confirmation de son inscription à ses services. Une adresse de messagerie électronique ne peut être utilisée plusieurs fois pour s’inscrire aux services.</p>
            <p>Toute communication réalisée par la Plateforme et ses partenaires est en conséquence réputée avoir été réceptionnée et lue par l’Utilisateur. Ce dernier s’engage donc à consulter régulièrement les messages reçus sur cette adresse e-mail et, le cas échéant, à répondre dans un délai raisonnable.</p>
            <p>Une seule inscription est admise par personne physique.</p>
            <p>L’Utilisateur se voit attribuer un identifiant lui permettant d’accéder à un espace dont l’accès lui est réservé (ci-après “Espace personnel“), en complément de la saisie de son mot de passe.</p>
            <p>L’identifiant et le mot de passe sont modifiables en ligne par l’Utilisateur dans son Espace personnel. Le mot de passe est personnel et confidentiel, l’Utilisateur s’engage ainsi à ne pas le communiquer à des tiers.</p>
            <p>Natura Verdea S.R.L se réserve en tout état de cause la possibilité de refuser une demande d’inscription aux services de la Plateforme en cas de non-respect par l’Utilisateur des CGU.</p>

            <p>2) Désinscription</p>
            <p>L’Utilisateur régulièrement inscrit pourra à tout moment demander sa désinscription en écrivant à contact@weedy.fr Toute désinscription de la Plateforme sera effective dans les plus brefs délais après que l’Utilisateur ait rempli le formulaire prévu à cet effet.</p>

            <h4>d. Contenu publié par l’Utilisateur</h4>
            <p>La Plateforme pourrait contenir des liens ou hyperliens renvoyant vers des sites internet externes. De tels liens ne signifient pas de manière automatique qu’il existe une relation entre Natura Verdea S.R.L et le site internet externe ou même qu’un accord implicite existe avec le contenu de ces sites externes.</p>
            <p>Natura Verdea S.R.L n’exerce aucun contrôle sur les sites internet externes. Nous ne sommes donc pas responsables du fonctionnement sûr et correct des hyperliens et de leur destination finale. Dès l’instant où l’Utilisateur clique sur l’hyperlien, il quitte la Plateforme. Nous ne pouvons dès lors pas être tenus responsables en cas de dommage ultérieur.</p>
        </div>


    </section>
{% endblock %}
