<footer>
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-white my-5 p-4">
                        <h4>UNE QUESTION ?</h4>
                        <p>Vous avez besoin de plus d’informations sur votre commande ou sur un produit ? La réponse à votre question se trouve preut-être ici.</p>
                        <span class="btn">FAQ</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white my-5 p-4">
                        <h4>LIVRAISON</h4>
                        <p>Tous les envois sont expédiés avec un numéro de suivi vous permettant de suivre l’acheminement de votre commande.</p>
                        <span class="btn">FAQ</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white mb-5 p-4">
                        <h4>NOUS SOMMES LA POUR VOUS.</h4>
                        <p>Laissez-nous un message et nous vous recontacterons.</p>
                        <span class="btn">Contactez-nous</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white mb-5 p-4">
                        <h4>PAIEMENT CB</h4>
                        <p>Nous collaborons avec des prestataires de confiance afin de vous permettre de faire vos achats en toute sécurité partout en Europe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="navbar navbar-light w-100">
                <div class="d-flex justify-content-center w-100">
                    <a class="navbar-brand text-success w-auto mx-5" href="{{ path('cgv') }}">CGV</a>
                    <a class="navbar-brand text-success w-auto mx-5" href="{{ path('mentionsLegales') }}">MENTIONS LEGALES</a>
                    <a class="navbar-brand text-success w-auto mx-5" href="{{ path('politiqueConfidentialite') }}">POLITIQUES DE CONFIDENTIALITE</a>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f icone_footer"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
